@tailwind base;


@layer base {
    .navClass{
        @apply  
            py-5 flex 
            justify-between 
            bg-slate-200 
            items-center
            dark:bg-slate-900
    }
    .techBlock{
      @apply 
      flex 
      flex-row 
      hover:text-red-700 
      transition ease-in-out 
      delay-150 
      hover:-translate-y-1 
      hover:scale-110 
      duration-300 
      cursor-pointer
    }
    section { @apply md:max-w-3xl w-full p-5 mb-10}

    .company { @apply 
      p-2 
      cursor-pointer
    hover:bg-slate-300 
      transition ease-in-out 
      delay-150
    hover:text-white
      border-solid 
      border-s-2
    border-slate-400
    }
    .currentCompanyActive { @apply border-solid border-s-2 border-slate-700 pl-2 bg-slate-400 text-white}
    
}



@tailwind components;
@tailwind utilities