@tailwind base;


@layer base {
    section { @apply md:max-w-3xl w-full px-5 mb-10}  
    .navClass{
        @apply  
            flex 
            bg-slate-300
            items-center
            justify-between
            px-2
            dark:bg-slate-900
            fixed 
            top-0 
            left-0 
            right-0
            z-10
            border-b-[1px]
            border-b-slate-400
            h-14
            
    }

    .menuNav{
      @apply
      opacity-0
      overflow-hidden
      duration-150
      origin-right
      absolute
    }

  

    .showMenuNav{
      @apply
      opacity-100
      flex
      flex-col
      bg-slate-600
      text-white
      top-0
      right-0
      w-40
    }
    
    .darkModeBtn{
      @apply
      p-2
      md:mx-4 
      cursor-pointer
      hover:-translate-y-0.5
      hover:text-slate-600 
      hover:text-yellow-500
    }

    .highligth{
      @apply
      flex 
      self-end
      bg-yellow-500
      w-fit
      p-2
      absolute
      right-9
      md:right-0
      
      top-20
      md:top-[110px]
      opacity-75
      font-bold
      text-xs
      
      
      text-black
      hover:-translate-y-0.5 
      cursor-pointer
      hover:opacity-100
      
      
      
    }
    .linkBtn{
      @apply
      py-4
      px-4
      hover:-translate-y-0.5 
      hover:text-white
      md:p-2
     
    }

    .techIcon{
      @apply 
      flex 
      flex-row 
      hover:text-yellow-400
      transition ease-in-out 
      delay-150 
      hover:-translate-y-1 
      hover:scale-110 
      duration-300 
      cursor-pointer
      h-16
      w-16
      saturate-0 
      hover:filter-none
    }
    .ulCustom li{list-style-type: square;}

    .company { @apply 
      p-2 
      cursor-pointer
      bg-slate-300 
      hover:bg-slate-500
      transition ease-in-out 
      delay-150
    hover:text-white
      text-center
      text-sm
    }
    .mdCompany { @apply 
      p-2 
      cursor-pointer
      bg-transparent
      hover:bg-slate-300 
      transition ease-in-out 
      delay-150
    hover:text-white
      border-solid 
      border-s-2
    border-slate-400
    }
    .currentCompanyActive { 
      @apply 
      border-solid 
      border-s-2 
      border-slate-700 
      pl-2 
      bg-slate-400 
      text-white
    }
    .mdCurrentCompanyActive { 
      @apply 
      border-solid 
      border-s-2 
      border-slate-700 
      pl-2 
      bg-slate-400 
      text-white
    }
    
    .socialMedias{
      @apply
      flex 
      justify-center 
      py-8 
      text-slate-500  
      md:flex-col 
      md:fixed 
      md:bottom-0 
      md:left-3 
      md:py-0 
      md:bg-transparent 
      md:text-inherit
      dark:bg-slate-900
      dark:text-white
    }
    .iconSocialMedia{
      @apply
      p-2.5
      hover:text-yellow-500
      md:hover:text-yellow-500
      transition ease-in-out 
      delay-150 
      hover:-translate-y-1 
      hover:scale-110 
      duration-300 
      cursor-pointer
    }
    .emailContact{
      writing-mode:vertical-lr;
      @apply
      hidden
      md:flex
      justify-center 
      text-white  
      md:fixed 
      md:bottom-0 
      md:right-3 
      md:text-inherit
      items-center

    after:bg-cyan-700 
      after:block  
      after:w-px 
      after:h-24 after:mx-auto
    }
    .emailContact a{
      @apply
      md:m-2
    }

    .imgAboutWrapper{
      @apply
      mx-auto 
      w-72 
      h-72 
      mt-20 
      md:mt-0
      relative

      before:w-72
      before:h-[17rem]
      before:border-gray-400
      before:border-2
      before:-z-10
      before:top-3
      before:left-4
      before:block
      before:absolute
      before:transition-all
      before:ease-in-out 

      hover:before:left-5
      hover:before:top-4
      hover:before:border-yellow-400
 
      
    }
    .gotoTopButton{
      @apply
      fixed
      bg-slate-600
      text-white
      right-3
      bottom-10
      w-10
      h-10
      flex
      items-center
      justify-center
      opacity-70
      hover:opacity-100
    }

    .link{
      @apply 
        hover:text-yellow-400
        cursor-pointer
    }

    .btnCurriculum{
      @apply
        mt-6  
        
    }

    .btnCurriculum a {
      @apply
        text-white
        hover:text-black
        p-2
        bg-slate-400
        hover:bg-yellow-400
        hover:-translate-y-5  
         
        cursor-pointer
        transition-all
        ease-in-out 
        delay-150 
    }

    .boxProjects{
      @apply
      shadow-md 
      p-5 
      transition ease-in-out 
      delay-150 
      hover:-translate-y-1 
      hover:scale-110 
      duration-300 
    }

    .sectionContacts{
      @apply
      flex 
      flex-col
      text-slate-700
      bg-slate-200
      p-5 
      mb-0
      gap-4
      items-stretch
      text-center
      md:py-10
    }
    .iconsContact{
      @apply
      flex flex-col items-center gap-1 mb-3
      md:flex-row
      hover:text-yellow-700
      hover:drop-shadow-sm
      transition ease-in-out 
      delay-150 
      gap-2
      hover:-translate-y-1 
      hover:scale-100 
    
      duration-100 
      cursor-pointer
    }

    .formEmail {
      @apply
      bg-slate-400
      p-10
      rounded
      flex
      flex-col
      mb-10
      md:mb-0
      relative
      justify-center
      items-center
    }

    .formEmail input, textarea{
      @apply
      
      shadow 
      appearance-none 
      border 
      rounded 
      w-full 
      py-2 
      px-3
      text-gray-700 
      leading-tight 
      mb-8 
    }

    .formEmail button{
      @apply
      bg-slate-700
      px-4
      py-2
      rounded-sm
      flex
      self-center
      text-white
      
    }

    .modal{
      @apply
      bg-black
      p-5
      transition-all
      absolute
      top-0
      left-0
      w-full
      h-full
      justify-center
      items-center
      flex
      
    }
  
    .modal.close button{
      @apply
        bg-green-700
        rounded-md
    }
    
}



@tailwind components;
@tailwind utilities